- content_for :header_tags do
  = vite_typescript_tag 'public.tsx', crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      .logo-react-root

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
